<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            width:100%;
            height:5.5rem;
            background-color: rgb(139, 151, 26);
        }
        .main-header_nav{
            background-color: rgb(156, 43, 160);
        }
            </style>
</head>
<body>
    <header>
        <nav>
            <a href="/admin/add-product">Add Product</a>
            <a href="/shop">Shop</a>
            <a href="/contactus">Contactus</a>
           
        </nav>
    </header>
    <main>
        <form action="/contactus" method="POST">

            <label for="Name">Username</label><input type="text" name="name1">
            <label for="ëmail">Email</label><input type="email" name ="email">
            <button type="submit">Submit</button>
        </form>
       
    </main>
</body>
</html>