<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            width:100%;
            height:5.5rem;
            background-color: rgb(139, 151, 26);
        }
        .main-header_nav{
            background-color: rgb(156, 43, 160);
        }
            </style>
</head>
<body>
    <header  >
        <nav>
            <a href="/add-product">Add Product</a>
            <a href="/shop">Shop</a>
            <a href="/contactus">Contactus</a>
           
           
        </nav>
    </header>
    <main>
       <h1>Form Filled Successfully</h1>
       
    </main>
</body>
</html>